Source: yubikey-personalization-gui
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Simon Josefsson <simon@josefsson.org>, Klas Lindfors <klas@yubico.com>, Dain Nilsson <dain@yubico.com>
Section: utils
Priority: extra
Build-Depends: debhelper-compat (= 12), pkg-config, qt5-qmake, qtbase5-dev, libyubikey-dev, libykpers-1-dev (>= 1.14.0)
Standards-Version: 3.9.8
Homepage: https://developers.yubico.com/yubikey-personalization-gui/
Vcs-Browser: https://github.com/Yubico/yubikey-personalization-gui-dpkg
Vcs-Git: https://github.com/Yubico/yubikey-personalization-gui-dpkg.git

Package: yubikey-personalization-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: qt5-image-formats-plugins
Description: Graphical personalization tool for YubiKey tokens
 YubiKeys are USB tokens that act like keyboards and generate one-time
 passwords, static passwords or work in challenge-response mode.
 .
 This is a graphical tool to customize the token with your own
 cryptographic key and options.
